<h1 style = 'width: 60%; margin: auto; text-align: center; padding-bottom: 5%'>New article</h1>
 
<%= render 'form' %>
<p style = 'width: 60%; margin: auto; text-align: center; padding-top: 5%;'>
	<%= link_to 'Back', articles_path %>
</p>