<div>
	<h1 style = 'width: 60%; margin: auto; text-align: center; padding-bottom: 10%; padding-top: 5%'>Hello, Rails!</h1>
	<div>
		<p>
		<%= link_to 'My Blog', controller: 'articles' %>
		</p>
	</div>
</div>
