<div>
	<h1 style = 'width: 60%; margin: auto; text-align: center; padding-bottom: 10%; padding-top: 5%'>Hello, Rails!</h1>
	<div style = 'text-align: center;
	background-color: yellow;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:18px;
	border:2px solid orange;
	
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	padding: 2px 16px;
	text-decoration:none;
	text-align: center;
	background-size: cover;
	margin: auto;
	width: 10%'>
		<p>
		<%= link_to 'My Blog', controller: 'articles' %>
		</p>
	</div>
</div>
