<div>
	<h1 style = 'width: 60%; margin: auto; text-align: center; padding-bottom: 10%; padding-top: 70px%'>Hello, Rails!</h1>
	<div style = 'text-align: center;
	background-color: black;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #3;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:33px;
	font-weight:bold;
	padding: 2px 2px;
	text-decoration:none;
	text-align: center;
	background-size: cover;
	margin: auto;
	width: 10%'>
		<p>
		<%= link_to 'My Blog', controller: 'articles' %>
		</p>
	</div>
</div>
